<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <div>
    <h2>상품 등록 폼</h2>
  </div>
  <h4>상품 입력</h4>

  <form action="item.html" th:action="@{/basic/items/add}" method="post">
    <div>
      <label for="itemName">상품명</label>
      <input type="text" id="itemName" name="itemName" placeholder="이름을 입력하세요">
    </div>
    <div>
      <label for="price">가격</label>
      <input type="text" id="price" name="price" placeholder="가격을 입력하세요">
    </div>
    <div>
      <label for="quantity">수량</label>
      <input type="text" id="quantity" name="quantity" placeholder="수량을 입력하세요">
    </div>

    <hr>

    <div>
      <div>
        <button type="submit">상품 등록</button>
      </div>
      <div>
        <button onclick="location.href='items.html'" th:onclick="|location.href='@{/basic/items}'|">목록으로</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>