<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <div>
    <h2>상품 상세</h2>
  </div>

  <div>
    <label for="itemId">상품 ID</label>
    <input type="text" id="itemId" name="itemId" value="1" th:value="${item.id}" readonly>
  </div>
  <div>
    <label for="itemName">상품명</label>
    <input type="text" id="itemName" name="itemName" value="상품A" th:value="${item.itemName}" readonly>
  </div>
  <div>
    <label for="price">가격</label>
    <input type="text" id="price" name="price" value="10000" th:value="${item.price}" readonly>
  </div>
  <div>
    <label for="quantity">수량</label>
    <input type="text" id="quantity" name="quantity" value="10" th:value="${item.quantity}" readonly>
  </div>

  <div>
    <div>
      <button onclick="location.href='editForm.html'" th:onclick="|location.href='@{/basic/items/{itemId}/edit(itemId=${item.id})}'|">상품 수정</button>
    </div>
    <div>
      <button onclick="location.href='items.html'" th:onclick="|location.href='@{/basic/items}'|">목록으로</button>
    </div>
  </div>
</div>
</body>
</html>